.App {
  text-align: center;
/*   background-image: url('/Users/joshuamartin/turing_work/3mod/WhiskerWisdom/my-app/src/Assets/Cat.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: initial;
  font-family: "Comic Sans MS", "Curlz MT", "Sniglet", cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .fact-container {
    grid-template-columns: 1fr; /* Display one column */
    max-height: none; /* Remove the max-height limit */
    overflow: visible; /* Show all items without scrolling */
  }

  input, button {
    width: 100%; /* Make inputs and buttons full-width */
  }
}

@media (min-width: 601px) {
}







